@model UserServiceModel

@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE HTML>
<html>
<head>
    <link rel="icon" type="image/x-icon" href="~/Images/Logo - icon.ico">
    <title>ConeXion</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="css/main.css" />
    <noscript><link rel="stylesheet" href="css/noscript.css" /></noscript>
</head>
<body class="is-preload">
    <div id="wrapper">
        <header id="header">
            <div class="logo">
                <img src="~/Images/Logo - small.png" class="logo1"></>
            </div>
            <div class="content">
                <div class="inner">
                    <h1>ConeXion</h1>
                    <p>Share Discover Connect</p>
                </div>
            </div>

            <nav>
                <ul>
                    <li><a href="~/User/Login">Log in</a></li>
                    <li><a href="~/User/Register">Sing up</a></li>
                    <li><a href="#about">About ConeXion</a></li>
                    <li><a href="#privacy">Privacy</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </nav>
        </header>

        <!-- Main -->
        <div id="main">

            <!-- login -->
            <article id="login">
                <h2 class="major">Log in</h2>
            </article>

            <!-- singup -->
            <article id="singup">
                <h2 class="major">Sing up</h2>
            </article>


            <!-- About -->
            <article id="about">
                <h2 class="major">About Conexion</h2>
                <p>
                    Welcome to ConeXion 2023 - Where Connections Flourish!

                    <br>Are you ready to embark on an exciting new social media journey? Say hello to ConeXion 2023, a cutting-edge platform that's set to revolutionize the way you connect with friends, family, and the world.

                    <br>🚀 What is ConeXion 2023? 🚀

                    <br>ConeXion 2023 is a social media platform designed to bring people together in a meaningful and authentic way. Here's what you can expect:

                    <br>🌐 Seamless Connectivity: Reconnect with old friends or make new ones. ConeXion 2023 is your go-to platform for fostering and nurturing relationships.

                    <br>📸 Visual Stories: Share your life's moments through photos, videos, and stories. Express yourself with our dynamic multimedia features.

                    <br>📣 Express Yourself: Whether you want to share your thoughts, express your creativity, or engage in lively debates, ConeXion 2023 offers a space for your unique voice.

                    <br>🔒 Privacy First: We're committed to safeguarding your data and your privacy. ConeXion 2023 employs robust security measures to ensure your online experience is safe and secure.

                    <br>💬 Dynamic Conversations: Engage in meaningful conversations on a variety of topics, or join groups and communities tailored to your interests.

                    <br>🌍 Global Reach: Connect with people from all corners of the world, making ConeXion 2023 the perfect place to expand your horizons.

                    <br>🌈 Diverse Community: ConeXion 2023 embraces diversity and inclusion, offering a space where everyone can feel welcome.

                    <br>🤝 A Community for Everyone: Whether you're a student, professional, artist, or enthusiast, ConeXion 2023 provides a platform for you to flourish.

                    <br>Join us today and experience the next level of online social networking. ConeXion 2023 is all about people, relationships, and memorable moments. Your digital journey begins here!

                    <br>Make ConeXion 2023 your online home, and let's connect, share, and grow together. Start your new chapter now!
            </article>

            <!-- privacy -->
            <article id="privacy">
                <h2 class="privacy">Privacy</h2>
                <h3>Effective Date: 15.10.2023</h3>

                At ConeXion 2023, we are committed to safeguarding your privacy. This Privacy Policy outlines how we collect, use, share, and protect your personal information when you use our services or interact with our website. By using our services, you consent to the practices described in this policy.
                <ol>
                    <li>
                        Information We Collect:

                        We may collect the following types of information when you use our services:

                        Personal Information: This includes data such as your name, email address, contact information, and other information that can personally identify you.
                        Usage Information: We collect data about how you interact with our services, including your browsing activity, preferences, and settings.
                        Device Information: We may collect information about your device, such as device type, operating system, and unique device identifiers.
                        Location Information: With your consent, we may collect information about your location.
                    </li>
                    <li>
                        How We Use Your Information:

                        We use the information we collect for various purposes, including:

                        Providing and Improving Services: We use your data to deliver our services, enhance your experience, and develop new features.
                        Communication: We may use your contact information to communicate with you, respond to inquiries, and provide important updates.
                        Personalization: Your data helps us tailor content and recommendations to your preferences.
                        Analytics: We analyze user interactions with our services to improve our offerings and understand user behavior.
                    </li>
                    <li>
                        Data Security:

                        We take the security of your data seriously. We implement industry-standard security measures to protect your information from unauthorized access, disclosure, alteration, or destruction.

                    <li>
                        Data Sharing:

                        We do not sell your personal information to third parties. However, we may share your information with trusted service providers and partners who assist us in delivering our services. We may also share your information when required by law or to protect our rights.
                    </li>
                    <li>
                        Your Choices:

                        You have choices about how we collect and use your data, including:

                        Opt-Out: You can opt out of certain data collection and marketing communications.
                        Access and Correction: You can access and correct your personal information by contacting us.
                    </li>
                    <li>
                        Third-Party Links:

                        Our services may include links to third-party websites or services. We do not control these external sites and are not responsible for their privacy practices. We recommend reviewing the privacy policies of any third-party site you visit.
                    </li>
                    <li>
                        Children's Privacy:

                        Our services are not intended for children under the age of 13. We do not knowingly collect personal information from children in this age group.
                    </li>
                    <li>
                        Changes to this Privacy Policy:

                        We may update this Privacy Policy periodically to reflect changes in our practices and services. The most recent version will always be available on our website.
                    </li>
                </ol>

                If you have any questions, concerns, or requests regarding your privacy or this policy, please contact us at [Insert Contact Information].

                Thank you for entrusting us with your information. Your privacy is important to us, and we are committed to protecting it.

            </article>

            <!-- Contact -->
            <article id="contact">
                <h2 class="major">Contact</h2>
                <form method="post" action="#">
                    <div class="fields">
                        <div class="field half">
                            <label for="name">Name</label>
                            <input type="text" name="name" id="name" />
                        </div>
                        <div class="field half">
                            <label for="email">Email</label>
                            <input type="text" name="email" id="email" />
                        </div>
                        <div class="field">
                            <label for="message">Message</label>
                            <textarea name="message" id="message" rows="4"></textarea>
                        </div>
                    </div>
                    <ul class="actions">
                        <li><input type="submit" value="Send Message" class="primary" /></li>
                        <li><input type="reset" value="Reset" /></li>
                    </ul>
                </form>
            </article>
        </div>

        <!-- Footer -->
        <footer id="footer">
            <p class="copyright">CONEXION 2023</p>
        </footer>
    </div>

    <!-- BG -->
    <div id="bg"></div>

    <!-- Scripts -->
    <script src="js/jquery.min.js"></script>
    <script src="js/browser.min.js"></script>
    <script src="js/breakpoints.min.js"></script>
    <script src="js/util.js"></script>
    <script src="js/main.js"></script>

</body>
</html>
